{{> header}}    
            <!--    <h2>Заметки</h2>
                <h4><a href="new">Создать Заметку</a></h4>-->
            <p><a class="btn btn-primary btn-lg" href="new" role="button">Создать Заметку</a></p>

            <div class="card">
                <div class="card-body">
                    <table id="notesTable" class="display" cellspacing="0" width="100%"  >

                        <!-- Header Table -->
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Сообщение</th>
                                <th>Дата</th>
                                <th>Сделано</th>
                                <th>Редактировать</th>
                                <th>Удалить</th>
                            </tr>
                        </thead>
                        <!-- Footer Table -->
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Сообщение</th>
                                <th>Дата</th>
                                <th>Сделано</th>
                                <th>Редактировать</th>
                                <th>Удалить</th>
                            </tr>
                            <!--            <tr>
                                            <th>Id</th>
                                                            <th>Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Active</th>
                                        </tr>-->
                        </tfoot>
                    </table>         
                </div>
            </div>
{{> footer}}  
        </div> <!-- parent container -->

        <script type="text/javascript">
            $(document).ready(function () {
                $('#notesTable').DataTable({
                    "createdRow": function (row, data, index) {
//                        if (data[5].replace(/[\$,]/g, '') * 1 > 150000) {
//                            $('td', row).eq(4).html("Test edit/"+data[0]);
                        //data[4] = "Test edit";
//                        }
                    },
                    "columnDefs": [{
                            "searchable": false,
                            "orderable": false,
                            "targets": [4],
                            "defaultContent": "Click to edit/id",
                            "data": function (row, val, meta) {
                                // 'sort', 'type' and undefined all just use the integer
                                //return "edit/"+row.id;
                                return "<a href=\"edit\/"+ row.id +"\">Редактировать Заметку</a>";
                            }
                        },
                        {
                            "targets": [5],
                            "orderable": false,
                            "searchable": false,
                            //"data": null,
                            "defaultContent": "Click to delete/id",
                            "data": function (row, val, meta) {
                                // 'sort', 'type' and undefined all just use the integer
                                //return "delete/"+row.id;
                                return "<a href=\"delete\/"+ row.id +"\">Удалить Заметку</a>";
                            }
                        }],
                    "language": {
//    "columns": [
//        null,
//        null,
//        { "type": "date" },
//        null,
//        null
//    ],
                        //"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json",
                        "processing": "Подождите...",
                        "search": "Поиск:",
                        "lengthMenu": "Показать _MENU_ записей",
                        "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                        "infoEmpty": "Записи с 0 до 0 из 0 записей",
                        "infoFiltered": "(отфильтровано из _MAX_ записей)",
                        "infoPostFix": "",
                        "loadingRecords": "Загрузка записей...",
                        "zeroRecords": "Записи отсутствуют.",
                        "emptyTable": "В таблице отсутствуют данные",
                        "paginate": {
                            "first": "Первая",
                            "previous": "Предыдущая",
                            "next": "Следующая",
                            "last": "Последняя"
                        },
                        "aria": {
                            "sortAscending": ": активировать для сортировки столбца по возрастанию",
                            "sortDescending": ": активировать для сортировки столбца по убыванию"
                        }
                    },
                    "sAjaxSource": "/json_list",
                    "sAjaxDataProp": "",
                    "order": [[2, "desc"]],
                    "aoColumns": [
                        {"mData": "id"},
                        {"mData": "message"},
                        {"mData": "date"},
                        {"mData": "done"}
                    ]
                });
            });
        </script>    

<script type="text/javascript">
    window.onload = function () {
        var user = '{{username}}';
        //if (user!=='') $('#id_user').html(user);
        //alert(user);
        if (user!=='') {
            $('#id_user_block').css('display', 'inline');
            $('#id_username').html(user+ ' <a href="/logout" class="badge badge-info">Выйти</a>');
        }
    };
</script>            
    </body>

</html>

