{{> header}} 
            <p><a class="btn btn-primary btn-lg" href="new" role="button">Создать Заметку</a></p>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Сообщение</th>
                    <th>Дата <a href="sort/DESC"> \/ </a><a href="sort/ASC"> /\ </a></th>
                    <th>Сделано</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
                {{ #notes }}
                <tr>
                    <td>{{id}}</td>
                    <td>{{message}}</td>
                    <td>{{date}}</td>
                    <td>{{done}}</td>
                    <td><a href="edit/{{id}}">Редактировать Заметку</a></td>
                    <td><a href="delete/{{id}}">Удалить Заметку</a></td>
                </tr>
                {{/notes}}

            </table>
        </div>
<script type="text/javascript">
    window.onload = function () {
        var user = '{{username}}';
        //if (user!=='') $('#id_user').html(user);
        //alert(user);
        if (user!=='') {
            $('#id_user_block').css('display', 'inline');
            $('#id_username').html(user+ ' <a href="/logout" class="badge badge-info">Выйти</a>');
        }
    };
</script>            
    </body>
</html>



