
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">

        <title>Авторизация</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">        

        <!-- Custom styles for this template -->
        <link href="signin.css" rel="stylesheet">
    </head>

    <body class="text-center">

        <!-- /login?error=true -->
        {{#error}}
        <div class="alert alert-warning" role="alert">
            <p>Login Failed!!!</p>          
            <p>Reason:</p>        
            {{#session}}
            {{#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')}}
            {{session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}}
            <p>Static summary</p>
            {{/session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')}}
            {{/session}}

        </div>      
        {{/error}}

        <form class="form-signin" name='f' action="/j_spring_security_check" method='POST'>
            <!--      <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="username" class="sr-only">User name</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="password" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" >Sign in</button>
            <ul class="list-unstyled">
                <li>Реквизиты доступа
                    <ul>
                        <li>dbuser1/123</li>
                        <li>dbadmin1/123</li>
                    </ul>
                </li>
            </ul>      

            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
    </body>
</html>