{{> header}}   
            <h2>Новая Заметка</h2>

            <!--        <h2>Новая Заметка</h2>-->
            <form action="save" method="POST">
                <hr size="1">
                <div>
                    <label>Сообщение</label>
                    <input type="text" name="new_msg" value="" />
                </div>
                <!--            <div>
                                <label>Сделано</label>
                                <input type="checkbox" name="new_done" value="" />
                            </div>-->
                <hr size="1">
                <input class="btn btn-primary" type="submit" value="Сохранить" />
                <hr size="2">
            </form>
            <h4><a href="/">Вернуться</a></h4>
        </div>
<script type="text/javascript">
    window.onload = function () {
        var user = '{{username}}';
        //if (user!=='') $('#id_user').html(user);
        //alert(user);
        if (user!=='') {
            $('#id_user_block').css('display', 'inline');
            $('#id_username').html(user+ ' <a href="/logout" class="badge badge-info">Выйти</a>');
        }
    };
</script>            
    </body>
</html>